header {
    background-color: #a1e4da;
    margin: 5px;
    padding: 5px;
    padding-left: 15px;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
}
h1 {
    font-family: sans-serif;
    font-size: 40px;
    margin-left: 5px;
}
table {
    padding: 5px;
    width: 100%;
    text-align: center;
    margin-left: 5px;
}
caption {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}
.align {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}
.recipe_table {
    width: 90%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #efefef;
}
.ingredients {
    text-align: left;
}
.recipe_picture {
    width: 35%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    width: 350px;
}
.footer {
    width: 30%;
    margin: 15px;
    height: 100px;
    border: 2px solid black;
    border-radius: 3%;
    background-color: #a1e4da;
    padding: 10px;
    text-align: center;
}
a:hover {
    color: white;
}
